@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;

}
.box1{
    background-color: rgb(0, 0, 0);
    
    color:  rgba(236, 188, 15);
    min-width: 55%;
    min-height: 850px;
    padding: 30px 30px;
    font-size: 2.25rem;
    
}
.B1{
    font-size: 2rem;
    color: rgb(255, 255, 255) ;
    font-weight: bold;
}
.box2{
    /* background-color: rgb(188, 143, 230); */
    /* background-image: url("/hello.jpg"); */
    background-color: rgb(121, 120, 120);
    color: white ;
    min-width: 45%;
    font-size: 1.05rem;
    min-height: 300px;
    padding: 40px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.qwerty{
    color: white;
    margin-top: 60px;
}
.box2-img{
    /* min-height: 300px;
    min-width:200px; */
    /* background-image: url("https://resize.indiatvnews.com/en/resize/newbucket/730_-/2021/06/nit-rourkela-1623164792.jpg"); */

}
a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 50px;
    font-size: 1.5rem;
    transition: 0.25s ease-in-out;
}

a:hover{
    color: rgba(236, 188, 15);
}

.Hello{
    margin-top: 200px;
    font-size: 2rem;
}
p{
    font-size: 1.25rem;
}
.img{
    display: flex;
    justify-content: center;
}